.wrapper {
  margin: 5% 7%;
  gap: 10%;
}

.left {
  max-width: 400px;
  gap: 30px;
}

.wrapper h1 {
  letter-spacing: 1px;
}

@media (max-width: 1028px) {
  .wrapper {
    margin: 40px 10px;
    gap: 10px;
  }

  .left {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin: 40px 20px;
    gap: 40px;
    flex-direction: column;
  }

  .left {
    width: 100%;
    max-width: 100%;
  }
}
