@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --deep-purple: #825beb;
  --light-purple: #8563c3;
  --intense-purple: #7454df;
  --soft-purple: #bf99f8;
  --button-purple: #5f2ee5;

  --white: #ffffff;
  --darker-white: #f2f4f8;

  --light-grey: #c6cacf;
  --soft-grey: #e1e3e6;
  --accent-grey: #868788;

  --shade-black: #2b2b2b;
  --deep-shade-black: #2e2e2e;

  --green: #7eb541;
  --red: #B54141;
}

body {
  font-family: DM Sans, Inter;
}

textarea {
  resize: none;
}
