.wrapper {
  background-image: url("../../assets/images/halfBackg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 150px 1rem 1rem 1rem;
  max-width: 20rem;
  height: 100vh;
}

.wrapper p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}

.redirectBtn {
  transition: 0.2s;
}

.redirectBtn:hover {
  color: var(--soft-purple);
  text-decoration: underline;
}

.buttons {
  margin-top: 1rem;
  gap: 10px;
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 17rem;
  }

  .wrapper p {
    font-size: 25px;
  }
}
@media (max-width: 728px) {
  .wrapper {
    max-width: 14rem;
  }

  .wrapper p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: none;
  }
}
