.wrapper {
  /* max-width: 1200px; */
  padding: 0 1.2rem;
}

.header {
  margin-bottom: 1.5rem;
}

.header h1 {
  margin-bottom: 1rem;
  color: var(--deep-purple);
}

.buttons {
  gap: 10px;
  margin-top: 1rem;
}

.content {
  overflow-y: auto;
  height: calc(100vh - 175px);
}
