.wrapper {
  background-image: url(/src/assets/images/barnerHomePage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: min(100px, 8%);
}

.quoteContainer {
  max-width: 900px;
  gap: 40px;
  margin: auto;
}

.header {
  font-size: 36px;
  color: #fff;
  align-self: flex-start;
}
.quote {
  color: #fff;
  padding: 20px 0;
}
