.wrapper {
  font-family: DM Sans, Inter;
  margin: 80px auto 0 auto;
  row-gap: 40px;
}

.wrapper > h2 {
  color: var(--accent-grey);
  font-size: 1.8rem;
}

.wrapper > button {
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--deep-purple);
  padding: 10px 20px;
  border-radius: 12px;
  color: var(--white);
  font-size: 1.3rem;
}
