.switchMethod {
  color: var(--deep-purple);
  cursor: pointer;
  text-decoration: underline;
}

.switchMethod:hover {
  color: #4f3da1;
}

.buttons,
.resetPasswordHolder {
  gap: 10px;
  margin-top: 1rem;
}
