.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: DM Sans, Inter;
  margin: 40px auto;
  row-gap: 40px;
}

.wrapper > h2 {
  color: var(--accent-grey);
  font-size: 1.8rem;
}

.wrapper > button {
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--deep-purple);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 12px;
  color: var(--white);
  font-size: 1.3rem;
}
