.navBar {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0.5rem 1rem 1.5rem 0;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden;
}

.navBar::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.tabWrapper {
  position: relative;
  top: 1px;
  padding: 0 10px;
}

.activeTab {
  border-bottom: 2px solid var(--deep-purple);
}

.activeTab > div {
  color: var(--deep-purple);
}

.tab {
  padding-bottom: 5px;
  color: #666;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.tab:hover {
  color: #6550b4;
}
