.avatarContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 60px;
  transition: 0.3s;
  padding: 20px;
}

@media (max-width: 550px) {
  .avatarContainer {
    padding: 0;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .avatarContainer {
    gap: 0;
  }
}
