.wrapper {
  flex-wrap: wrap;
  column-gap: 50px;
  background-color: var(--light-purple);
  color: var(--white);
  padding: 40px 100px;
}

.quote {
  font-size: 1.8rem;
  width: 700px;
  font-weight: 600;
}
