.wrapper {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  gap: 20rem;
}

.navLinks {
  list-style: none;
  gap: 3rem;
}

.navLink {
  transition: 0.6s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
}

.navLink.last {
  flex: 1;
  text-align: end;
}

.active span {
  color: var(--intense-purple);
}

.navLink > a {
  text-decoration: none;
  color: #525252;
  font-weight: 900;
  font-size: 1rem;
}

.navLink > a:hover {
  color: var(--intense-purple);
}

.homeIconContainer {
  gap: 5px;
  transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
}

.whiteHomeIcon:hover .whiteIcon {
  color: var(--light-purple) !important;
}

.whiteIcon,
.homeIcon {
  color: #fff;
  transition: 0.3s;
  font-weight: 400;
}
