.wrapper {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  gap: 20rem;
}

.navLinks {
  list-style: none;
  gap: 3rem;
}

.navLink {
  transition: 0.6s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
}

.navLink.last {
  flex: 1;
  text-align: end;
  justify-self: flex-end;
  position: relative;
}

.active span {
  color: var(--intense-purple);
}

.navLink > a {
  text-decoration: none;
  color: #525252;
  font-weight: 400;
  font-size: 1rem;
}

.navLink > a:hover {
  color: var(--intense-purple);
}

.homeIconContainer {
  gap: 5px;
  transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  justify-self: flex-end;
}

.whiteHomeIcon:hover .whiteIcon {
  color: var(--light-purple) !important;
}

.whiteIcon,
.homeIcon {
  color: #fff;
  transition: 0.3s;
  font-weight: 400;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  padding: 6px 0;
  min-width: 9rem;
  z-index: 1000;
  text-align: start;
}

.menuItem {
  padding: 10px 20px;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menuItem:hover {
  background-color: #f3f3f3;
}

.signOutItem {
  color: var(--error);
  /* border-top: 1px solid #eee; */
}

.profile sapn {
  color: var(--deep-purple);
}

.profileIcon {
  color: var(--intense-purple);
  margin-right: 0.5rem;
}

.signOutItem .icon {
  color: var(--error);
  margin-right: 0.5rem;
}

.home .icon {
  margin-right: 0.5rem;
  width: 15px;
  color: var(--label-color);
}
